.form-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form {
  width: -webkit-fill-available;
  border: 1px solid #e4e4e5;
  border-radius: 8px;
  padding: 24px;
}
.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 16px 0;
}
.input-group:last-child {
  margin: 0;
}
.label {
  display: block;
  margin: 0 0 7px 0;
}
.input {
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #e4e4e5;
}
.input:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid blue;
}
.button {
  padding: 12px;
  background-color: blue;
  outline: none;
  box-shadow: none;
  border: 1px solid blue;
  color: white;
  width: 150px;
  cursor: pointer;
  transition: all 300ms;
  border-radius: 12px;
}
.button:hover {
  background-color: transparent;
  color: blue;
}
.heading {
  margin: 0 0 20px 0;
  text-align: center;
  display: block;
  width: 100%;
}
.last-line {
  font-size: 16px;
  line-height: 24px;
  color: black;
  text-align: center;
  width: 100%;
  margin: 16px 0 0 0;
}
.last-line a {
  color: blue;
}
.error-msg {
  font-size: 14px;
  line-height: 18px;
  color: red;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: #008ecc;
}
.header-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-list li {
  margin: 0 12px;
}
.logout-icon {
  cursor: pointer;
}
.product-container {
  max-width: 1030px;
  width: 100%;
  margin: auto;
  padding: 32px;
}
.prduct-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}
.product-wrap {
  display: flex;
  flex-direction: column;
  border: 1px solid #e4e4e5;
  border-radius: 6px;
  overflow: hidden;
}
.product-up {
  width: 100%;
  height: 200px;
}
.product-up img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-down {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  padding: 12px;
}
.product-para {
  font-size: 18px;
  line-height: 26px;
  color: black;
  font-weight: 600;
  margin: 8px 0;
}
.add-button {
  height: 38px;
  width: 100%;
  background-color: #008ecc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid #008ecc;
  box-shadow: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: auto;
  font-weight: 600;
}
.price {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin: 6px 0;
  display: block;
}
.qty{
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  display: block;
  width: 60px;
  text-align: center;
}
.mrp {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin: 0 0 16px 0;
  display: block;
  text-decoration: line-through;
}
.user-icon {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  background-color: white;
  border-radius: 6px;
}
.user-icon span {
  margin: 0 0 0 6px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}
.cart-container{
  max-width: 1030px;
  padding: 40px 0;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.cartitem-list{
  list-style: none;
  padding: 0 20px;
  margin: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.cart-item{
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.left-image{
  max-width: 30%;
  width: 100%;
}
.left-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.right-block{
  max-width: 70%;
  width: 100%;
  padding: 12px 24px;
}
.header-button{
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-button button {
  width: 200px;
}
.rightBlock{
  max-width: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-heading{
  margin: 0 0 16px 0;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
}
.flex{
  padding: 12px 0 8px 0; 
  margin: 0 0 12px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.btn-group{
  max-width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn{
  height: 30px;
  width: 30px;
  font-size: 18px;
  line-height: 18px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #008ecc;
}
.empty-block{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}